{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container d-flex flex-column align-items-center" id="loading-div">
        <p class="fs-2 fw-light" id="text-center">Loading</p>
        <div class="spin"></div>
    </div>
    <div class="container d-none d-flex flex-column align-items-center py-4" id="page-content">
        <div class="container text-center py-4" id="info-section">
            <h1 class="fs-2 fw-light">Image2HTML</h1>
            <p class="fs-3 fw-light">Create HTML forms without writing a single line of code</p>
            <button class="btn app-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">How it works</button>
        </div>
        <div class="container border text-center py-4 w-75 mt-4" id="image-fieldset">
            <p class="fs-5 fw-light">Upload an Image</p>
            <label class="btn app-btn" for="file-upload"><input class="" type="file" id="file-upload" name="file" accept="image/jpeg, image/png" hidden/>Browse</label>
            
            <div class="row d-none py-4" id="image-container">
                <div class="col-sm-6"><img class="img-thumbnail" id="src-image" src="" alt=""></div>
                <div class="col-sm-6"><canvas class="img-thumbnail" id="the-canvas" width=""></canvas></div>
            </div>

            <div class="container d-none" id="input-container">
                <div class="row">
                    <div class="col-sm-6">
                        <Label for="lowertrackbar">Lower Threshold: <span id="lowerThreshValue">50</span></Label>
                        <input class="form-range" type="range" id="lowertrackbar" value="50" min="0" max="100" step="1">
                    </div>
                    <div class="col-sm-6">
                        <Label for="uppertrackbar">Upper Threshold: <span id="upperThreshValue">100</span></Label>
                        <input class="form-range" type="range" id="uppertrackbar" value="100" min="100" max="300" step="1">
                    </div>
                </div>
                <input class="btn app-btn" type="submit" id="uploadBtn" value="Proceed">
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">How to convert</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item">Upload an Image. Preferable one where the paper has a high contrast with the background</li>
                        <li class="list-group-item">Confirm that the outline of the paper is highlighted with green lines </li>
                        <li class="list-group-item">If the outline is not highlighted, adjust the trackbars until the outline is highlighted</li>
                        <li class="list-group-item">Click proceed and wait for your html file</li>
                    </ol>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/app.js' %}"></script>
{% endblock script %}